<section class="about">
    <div class="about__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        О магазине
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="about__heading">
            Магазин одежды и обуви
        </h1>
        <div class="about__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>