<section class="brands">
    <div class="brands__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        Бренды
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="brands__heading">
            бренды одежды и обуви
        </h1>
        <ul class="brands__list">
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/1.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/2.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/3.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/4.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/5.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/6.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/7.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/8.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/9.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/10.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/11.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/12.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/13.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/14.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/15.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/16.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/17.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/18.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/19.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/20.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/1.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/2.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/3.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/4.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/5.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/6.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/7.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/8.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/9.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/10.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/11.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/12.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/13.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/14.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/15.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/16.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/17.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/18.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>

            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/6.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
            <li class="brands__list-item">
                <a href="#" class="brands__card">
                    <div class="brands__card-content">
                        <div class="brands__card-image-wrapper">
                            <img src="/images/brands/7.webp" alt="" class="brands__card-image">
                        </div>
                        <h3 class="brands__card-title">
                            Pepe Jeans
                        </h3>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pagination">
            <ul class="pagination__list">
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link disabled">
                        &lt;
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link current">
                        1
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        2
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        3
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        4
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        ...
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        10
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        &gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>