<section class="cart">
    <div class="cart__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        Корзина
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="cart__heading">
            Корзина
        </h1>
        <div class="cart__status">
            <div class="cart__status-total">
                <span class="cart__status-total-text">
                    Товаров в корзине:
                </span>

                <span class="cart__status-total-amount">
                    4
                </span>
            </div>
            <a href="#" class="cart__fav">
                5 отложено
            </a>
            <form action="/" method="POST" class="cart__clear-form">
                <button class="cart__clear-btn" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#cart-clear"></use>
                    </svg>
                    Очистить

                </button>
            </form>
        </div>
        <div class="cart__blocks">
            <div class="cart__block">
                <h2 class="cart__block-heading">
                    Одежда
                </h2>
                <div class="cart__items">
                    <div class="cart__items-header">
                        <div class="cart__items-header-label cart__items-header-label--one">
                            Товар
                        </div>
                        <div class="cart__items-header-label cart__items-header-label--three">
                            Цена
                        </div>
                        <div class="cart__items-header-label cart__items-header-label--four">
                            Кол-во
                        </div>
                        <div class="cart__items-header-label cart__items-header-label--five">
                            Сумма
                        </div>
                    </div>
                    <ul class="cart__items-list">
                        <li class="cart__items-list-item">
                            <div class="cart__item-card">
                                <div class="cart__item-card-info">
                                    <div class="cart__item-card-image-wrapper">
                                        <img src="/images/cart/1.webp" alt="" class="cart__item-card-image">
                                    </div>
                                    <div class="cart__item-card-info-content">
                                        <h3 class="cart__item-card-title">
                                            Жакет Oui 85985
                                        </h3>
                                        <div class="cart__item-card-code">
                                            Артикул: 85985
                                        </div>
                                        <div class="cart__item-card-info-row">
                                            <div class="cart__item-card-color">
                                                Цвет:
                                                <span class="cart__item-card-color-box"
                                                    style="background-color: #1F3250;">

                                                </span>
                                            </div>
                                            <div class="cart__item-card-size">
                                                Размер:
                                                <span class="cart__item-card-size-box">
                                                    44
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart__item-card-price-wrapper">
                                    <div class="cart__item-card-price">
                                        11 690 ₽
                                    </div>
                                    <div class="cart__item-card-old-price">
                                        13 600 ₽
                                    </div>
                                    <div class="cart__item-card-economy">
                                        экономия 2000 ₽
                                    </div>
                                </div>
                                <div class="cart__item-card-amount-wrapper">
                                    <div class="counter" data-min="1">
                                        <button class="counter__btn counter__btn--minus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="counter__amount">
                                            <input type="number" class="counter__amount-input" readonly="" value="1">
                                        </div>
                                        <button class="counter__btn counter__btn--plus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="cart__item-card-total-wrapper">
                                    <div class="cart__item-card-total">
                                        11 690 ₽
                                    </div>
                                    <a href="#" class="cart__item-card-clear">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cart-clear"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="cart__items-list-item">
                            <div class="cart__item-card">
                                <div class="cart__item-card-info">
                                    <div class="cart__item-card-image-wrapper">
                                        <img src="/images/cart/2.webp" alt="" class="cart__item-card-image">
                                    </div>
                                    <div class="cart__item-card-info-content">
                                        <h3 class="cart__item-card-title">
                                            Жакет Oui 85985
                                        </h3>
                                        <div class="cart__item-card-code">
                                            Артикул: 85985
                                        </div>
                                        <div class="cart__item-card-info-row">
                                            <div class="cart__item-card-color">
                                                Цвет:
                                                <span class="cart__item-card-color-box"
                                                    style="background-color: #1F3250;">

                                                </span>
                                            </div>
                                            <div class="cart__item-card-size">
                                                Размер:
                                                <span class="cart__item-card-size-box">
                                                    44
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__item-card-fav-wrapper">
                                    <a href="#" class="cart__item-card-fav">
                                        <div class="cart__item-card-fav-icon">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#like"></use>
                                            </svg>
                                        </div>
                                        <div class="cart__item-card-fav-content">
                                            <div class="cart__item-card-fav-text">
                                                Товар отложен.
                                            </div>
                                            <div class="cart__item-card-fav-add">
                                                Добавить в заказ?
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cart__item-card-price-wrapper">
                                    <div class="cart__item-card-price">
                                        11 690 ₽
                                    </div>
                                    <div class="cart__item-card-old-price">
                                        13 600 ₽
                                    </div>
                                    <div class="cart__item-card-economy">
                                        экономия 2000 ₽
                                    </div>
                                </div>
                                <div class="cart__item-card-amount-wrapper">
                                    <div class="counter" data-min="1">
                                        <button class="counter__btn counter__btn--minus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="counter__amount">
                                            <input type="number" class="counter__amount-input" readonly="" value="1">
                                        </div>
                                        <button class="counter__btn counter__btn--plus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="cart__item-card-total-wrapper">
                                    <div class="cart__item-card-total">
                                        11 690 ₽
                                    </div>
                                    <a href="#" class="cart__item-card-clear">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cart-clear"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cart__total">
                    <div class="cart__total-price">
                        Итого: 22 690 ₽
                    </div>
                    <div class="cart__total-old-price">
                        26 690 ₽
                    </div>
                    <div class="cart__total-economy">
                        экономия 4000 ₽
                    </div>
                </div>
                <div class="cart__bottom">


                    <div class="cart__buttons">
                        <a href="#" class="cart__return-btn">
                            Вернуться к покупкам
                        </a>
                        <button class="cart__checkout" type="submit">
                            Оформить заказ
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart__block">
                <h2 class="cart__block-heading">
                    Обувь
                </h2>
                <div class="cart__items">
                    <div class="cart__items-header">
                        <div class="cart__items-header-label cart__items-header-label--one">
                            Товар
                        </div>
                        <div class="cart__items-header-label cart__items-header-label--three">
                            Цена
                        </div>
                        <div class="cart__items-header-label cart__items-header-label--four">
                            Кол-во
                        </div>
                        <div class="cart__items-header-label cart__items-header-label--five">
                            Сумма
                        </div>
                    </div>
                    <ul class="cart__items-list">
                        <li class="cart__items-list-item">
                            <div class="cart__item-card">
                                <div class="cart__item-card-info">
                                    <div class="cart__item-card-image-wrapper">
                                        <img src="/images/cart/3.webp" alt="" class="cart__item-card-image">
                                    </div>
                                    <div class="cart__item-card-info-content">
                                        <h3 class="cart__item-card-title">
                                            Жакет Oui 85985
                                        </h3>
                                        <div class="cart__item-card-code">
                                            Артикул: 85985
                                        </div>
                                        <div class="cart__item-card-info-row">
                                            <div class="cart__item-card-color">
                                                Цвет:
                                                <span class="cart__item-card-color-box"
                                                    style="background-color: #1F3250;">

                                                </span>
                                            </div>
                                            <div class="cart__item-card-size">
                                                Размер:
                                                <span class="cart__item-card-size-box">
                                                    44
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart__item-card-price-wrapper">
                                    <div class="cart__item-card-price">
                                        11 690 ₽
                                    </div>
                                    <div class="cart__item-card-old-price">
                                        13 600 ₽
                                    </div>
                                    <div class="cart__item-card-economy">
                                        экономия 2000 ₽
                                    </div>
                                </div>
                                <div class="cart__item-card-amount-wrapper">
                                    <div class="counter" data-min="1">
                                        <button class="counter__btn counter__btn--minus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="counter__amount">
                                            <input type="number" class="counter__amount-input" readonly="" value="1">
                                        </div>
                                        <button class="counter__btn counter__btn--plus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="cart__item-card-total-wrapper">
                                    <div class="cart__item-card-total">
                                        11 690 ₽
                                    </div>
                                    <a href="#" class="cart__item-card-clear">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cart-clear"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="cart__items-list-item">
                            <div class="cart__item-card">
                                <div class="cart__item-card-info">
                                    <div class="cart__item-card-image-wrapper">
                                        <img src="/images/cart/4.webp" alt="" class="cart__item-card-image">
                                    </div>
                                    <div class="cart__item-card-info-content">
                                        <h3 class="cart__item-card-title">
                                            Жакет Oui 85985
                                        </h3>
                                        <div class="cart__item-card-code">
                                            Артикул: 85985
                                        </div>
                                        <div class="cart__item-card-info-row">
                                            <div class="cart__item-card-color">
                                                Цвет:
                                                <span class="cart__item-card-color-box"
                                                    style="background-color: #1F3250;">

                                                </span>
                                            </div>
                                            <div class="cart__item-card-size">
                                                Размер:
                                                <span class="cart__item-card-size-box">
                                                    44
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__item-card-fav-wrapper">
                                    <a href="#" class="cart__item-card-fav">
                                        <div class="cart__item-card-fav-icon">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#like"></use>
                                            </svg>
                                        </div>
                                        <div class="cart__item-card-fav-content">
                                            <div class="cart__item-card-fav-text">
                                                Товар отложен.
                                            </div>
                                            <div class="cart__item-card-fav-add">
                                                Добавить в заказ?
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cart__item-card-price-wrapper">
                                    <div class="cart__item-card-price">
                                        11 690 ₽
                                    </div>
                                    <div class="cart__item-card-old-price">
                                        13 600 ₽
                                    </div>
                                    <div class="cart__item-card-economy">
                                        экономия 2000 ₽
                                    </div>
                                </div>
                                <div class="cart__item-card-amount-wrapper">
                                    <div class="counter" data-min="1">
                                        <button class="counter__btn counter__btn--minus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <div class="counter__amount">
                                            <input type="number" class="counter__amount-input" readonly="" value="1">
                                        </div>
                                        <button class="counter__btn counter__btn--plus" type="button">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="cart__item-card-total-wrapper">
                                    <div class="cart__item-card-total">
                                        11 690 ₽
                                    </div>
                                    <a href="#" class="cart__item-card-clear">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cart-clear"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cart__total">
                    <div class="cart__total-price">
                        Итого: 22 690 ₽
                    </div>
                    <div class="cart__total-old-price">
                        26 690 ₽
                    </div>
                    <div class="cart__total-economy">
                        экономия 4000 ₽
                    </div>
                </div>
                <div class="cart__bottom">
                    <div class="cart__promocode">
                        <div class="cart__promocode-wrapper">
                            <input type="text" class="cart__promocode-input" name="promocode"
                                placeholder="Введите промокод">
                            <button class="cart__promocode-enter" type="submit">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#enter"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="cart__promocode-result">
                            <div class="cart__promocode-name">
                                ONLINE
                            </div>
                            <div class="cart__promocode-status">
                                Купон применен — 10%, при регистрации
                            </div>
                        </div>
                    </div>
                    <div class="cart__buttons">

                        <a href="#" class="cart__return-btn">
                            Вернуться к покупкам
                        </a>
                        <button class="cart__checkout" type="submit">
                            Оформить заказ
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>