<section class="collection">
    <div class="collections__content">
        <ul class="collections__list">
            <li class="collections__list-item">
                <a href="#" class="collections__card">
                    <div class="collections__card-bg">

                        <picture>
                            <source srcset="/images/collections/1-mobile.webp" media="(max-width: 640px)" />
                            <source srcset="/images/collections/1-tablet.webp" media="(max-width: 768px)" />
                            <img src="/images/collections/1-desktop.webp" alt="" class="collections__card-bg-image" />
                        </picture>
                    </div>
                    <div class="collections__card-content">
                        <h3 class="collections__card-title">
                            Женщинам
                        </h3>
                        <div class="collections__card-btn">
                            К покупкам
                        </div>
                    </div>
                </a>
            </li>
            <li class="collections__list-item">
                <a href="#" class="collections__card">
                    <div class="collections__card-bg">

                        <picture>
                            <source srcset="/images/collections/2-mobile.webp" media="(max-width: 640px)" />
                            <source srcset="/images/collections/2-tablet.webp" media="(max-width: 768px)" />
                            <img src="/images/collections/2-desktop.webp" alt="" class="collections__card-bg-image" />
                        </picture>
                    </div>
                    <div class="collections__card-content">
                        <h3 class="collections__card-title">
                            МУЖЧинам
                        </h3>
                        <div class="collections__card-btn">
                            К покупкам
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>