<section class="contacts">
    <div class="contacts__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        <span>Контакты</span>
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="contacts__heading">
            Контакты
        </h1>
        <ul class="contacts__list">
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        Адрес:
                    </h3>
                    <div class="contacts__card-text">
                        129327, Москва, ул. Менжинского, 23к1 Галерея моды ВДВ
                    </div>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        Время работы:
                    </h3>
                    <div class="contacts__card-text">
                        Пн-Пт: 11:00–20:00<br>
                        Сб: 11:00–19:00<br>
                        Вс: 11:00–18:00
                    </div>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        По любым вопросам:
                    </h3>
                    <div class="contacts__card-links">


                        <a href="tel:+74991802357" class="contacts__card-phone">8 499 180-23-57</a>
                        <a href="mailto:info@modavdv.ru" class="contacts__card-email">info@modavdv.ru</a>
                    </div>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        Соц. сети:
                    </h3>
                    <ul class="contacts__card-social-list">
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <img src="/images/social/telegram.svg" alt="" class="contacts__card-social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <img src="/images/social/whatsapp.svg" alt="" class="contacts__card-social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <img src="/images/social/vk.svg" alt="" class="contacts__card-social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <img src="/images/social/ok.svg" alt="" class="contacts__card-social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <img src="/images/social/instagram.svg" alt="" class="contacts__card-social-link-icon">
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <img src="/images/social/rutube.svg" alt="" class="contacts__card-social-link-icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>