<section class="customer-card">
    <div class="customer-card__content">
        <div class="customer-card__content-bg">

        </div>
        <div class="customer-card__image-wrapper">
            <picture>
                <source srcset="/images/goal/mobile.webp" media="(max-width: 640px)" />
                <source srcset="/images/goal/tablet.webp" media="(max-width: 768px)" />
                <img src="/images/customer-card/desktop.webp" alt="MDN" class="customer-card__image" />
            </picture>
        </div>
        <div class="customer-card__text-content">
            <h2 class="customer-card__heading">
                У Вас уже есть карта Покупателя?
            </h2>
            <div class="customer-card__text">
                <p>
                    Карта покупателя дает вам скидку 7% на первую покупку! Только при регистрации на САЙТЕ
                </p>
                <p>
                    Вам понравится
                    делать у нас покупки!
                </p>
            </div>
            <a href="#" class="customer-card__link">
                Получить карту
            </a>
        </div>

    </div>
</section>