<footer class="page-footer">

    <div class="page-footer__top">
        <div class="page-footer__top-content">
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Покупателям
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    О магазине
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Контакты
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Журнал
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Как сделать заказ
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Доставка и оплата
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Возврат товара
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Женщинам
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Одежда
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Обувь
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Уход за обувью
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Варежки-перчатки
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Сумки
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Белье и купальные принадлежности
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Головные уборы, шарфы
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Зонты
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Носки и прочее
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Прочие аксессуары
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Мужчинам
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Одежда
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Обувь
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Уход за обувью
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Варежки-перчатки
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Сумки
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Белье и купальные принадлежности
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Головные уборы, шарфы
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Зонты
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Носки и прочее
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Прочие аксессуары
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__contacts">
                <div class="page-footer__phones-wrapper">
                    <a href="tel:+74991802357" class="page-footer__phone">8 499 180-23-57</a>
                    <a href="tel:+78001802357" class="page-footer__secondary-phone">8 800 180-23-57</a>
                    <a href="mailto:info@modavdv.ru" class="page-footer__email">info@modavdv.ru</a>
                </div>
                <div class="page-footer__address-wrapper">
                    <div class="page-footer__address">
                        Москва, ул. Менжинского, 23к1
                    </div>
                    <div class="page-footer__schedule">
                        Время работы:<br>
                        Пн-Пт 11:00–20:00, Сб 11:00–19:00,<br> Вс 11:00–18:00
                    </div>
                </div>
                <div class="page-footer__social-wrapper">


                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <img src="/images/social/telegram.svg" alt="" class="page-footer__social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <img src="/images/social/whatsapp.svg" alt="" class="page-footer__social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <img src="/images/social/vk.svg" alt="" class="page-footer__social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <img src="/images/social/ok.svg" alt="" class="page-footer__social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <img src="/images/social/instagram.svg" alt="" class="page-footer__social-link-icon">
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <img src="/images/social/rutube.svg" alt="" class="page-footer__social-link-icon">
                            </a>
                        </li>
                    </ul>
                    <form action="/" method="POST" class="page-footer__subscribe" data-need-validation=""
                        id="subscribe-error">
                        <h3 class="page-footer__subscribe-title">
                            Подписка на рассылку
                        </h3>
                        <div class="page-footer__subscribe-wrapper">
                            <input type="email" class="page-footer__subscribe-input" name="email"
                                placeholder="Ваш e-mail" required="" data-parsley-errors-container="#subscribe-error">
                            <button class="page-footer__subscribe-submit" type="submit">
                                Подписаться
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__bottom">
        <div class="page-footer__bottom-content">
            <div class="page-footer__left-wrapper">


                <a href="#" class="page-footer__logo">
                    <img src="/images/logo.svg" alt="Лого" class="page-footer__logo-image">
                </a>
                <div class="page-footer__copyright">
                    © 2025 Галерея моды ВДВ
                </div>
            </div>
            <ul class="page-footer__payments-list">
                <li class="page-footer__payments-list-item">
                    <img src="/images/payments/visa.svg" alt="" class="page-footer__payments-icon">
                </li>
                <li class="page-footer__payments-list-item">
                    <img src="/images/payments/mastercard.svg" alt="" class="page-footer__payments-icon">
                </li>
                <li class="page-footer__payments-list-item">
                    <img src="/images/payments/qiwi.svg" alt="" class="page-footer__payments-icon">
                </li>
                <li class="page-footer__payments-list-item">
                    <img src="/images/payments/sber.svg" alt="" class="page-footer__payments-icon">
                </li>
                <li class="page-footer__payments-list-item">
                    <img src="/images/payments/sbp.svg" alt="" class="page-footer__payments-icon">
                </li>
            </ul>
            <a href="#" class="page-footer__made-by">
                <img src="/images/fortex.png" alt="" class="page-footer__made-by-logo">
                <div class="page-footer__made-by-text">
                    Fortex-service.ru<br> разработка и продвижение
                </div>
            </a>

        </div>
    </div>

</footer>