<section class="goal">
    <div class="goal__bg">

        <picture>
            <source srcset="/images/goal/mobile.webp" media="(max-width: 640px)" />
            <source srcset="/images/goal/tablet.webp" media="(max-width: 768px)" />
            <img src="/images/goal/desktop.webp" alt="MDN" class="goal__bg-image" />
        </picture>
    </div>
    <div class="goal__content">
        <div class="goal__text-content">
            <h2 class="goal__heading">
                Наша цель
            </h2>
            <div class="goal__text">
                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции которых проверено
                временем. Наша цель предоставить клиентам товар Европейского качества по гибким ценам и высокий уровень
                обслуживания, за который отвечает доброжелательный коллектив профессионалов.
            </div>
        </div>
        <ul class="goal__list">
            <li class="goal__list-item">
                <div class="goal__card">
                    <img src="/images/goal/icons/1.svg" alt="" class="goal__card-icon">
                    <h3 class="goal__card-title">
                        Клиентоориенти&shy;рованность
                    </h3>
                </div>
            </li>
            <li class="goal__list-item">
                <div class="goal__card">
                    <img src="/images/goal/icons/2.svg" alt="" class="goal__card-icon">
                    <h3 class="goal__card-title">
                        Высокое качество
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>