<header class="page-header">
    <div class="page-header__top">
        <div class="page-header__top-content">
            <a href="#" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__search">
                <form action="/" method="POST" class="page-header__search-form">
                    <div class="page-header__search-form-wrapper">
                        <input type="search" name="q" class="page-header__search-input">
                        <button class="page-header__search-btn" type="submit">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="page-header__location">
                <div class="page-header__location-wrapper">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#location"></use>
                    </svg>
                    <div class="page-header__location-content">
                        <div class="page-header__location-address">
                            Москва, ул. Менжинского, 23к1
                        </div>
                        <div class="page-header__location-schedule">
                            <div class="page-header__location-schedule-btn">
                                График работы
                            </div>
                            <div class="page-header__location-schedule-dropdown">
                                <div class="page-header__location-schedule-dropdown-inner">
                                    Пн-Пт 11:00–20:00<br>
                                    Сб 11:00–19:00<br>
                                    Вс 11:00–18:00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header__right-wrapper">
                <div class="page-header__btns">
                    <div class="page-header__user">
                        <button class="page-header__user-btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#user"></use>
                            </svg>
                        </button>
                        <div class="page-header__user-dropdown">
                            <div class="page-header__user-dropdown-inner">
                                <ul class="page-header__user-list">
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            Мой кабинет
                                        </a>
                                    </li>
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            Личные данные
                                        </a>
                                    </li>
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            Сменить пароль
                                        </a>
                                    </li>
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            Заказы
                                        </a>
                                    </li>
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            Корзина
                                        </a>
                                    </li>
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            Подписки
                                        </a>
                                    </li>
                                    <li class="page-header__user-list-item">
                                        <a href="#" class="page-header__user-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#exit"></use>
                                            </svg>
                                            Выйти
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="page-header__fav">
                        <a href="#" class="page-header__fav-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#heart"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="page-header__cart">
                        <a href="#" class="page-header__cart-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#cart"></use>
                            </svg>
                            <span class="page-header__cart-count">
                                3
                            </span>
                        </a>
                    </div>
                </div>
                <div class="page-header__phones">
                    <div class="page-header__phone-wrapper">
                        <a href="tel:+74991802357" class="page-header__phone-link">
                            8 499 180-23-57
                        </a>
                    </div>
                    <a href="#order-call-modal" class="page-header__callback-link js-open-modal">
                        Заказать звонок
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="page-header__bottom">
        <div class="page-header__bottom-content">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link page-header__nav-link--bold">
                            Женщинам
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link page-header__nav-link--bold">
                            Мужчинам
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/brands.html" class="page-header__nav-link {{#if isBrandsPage}} active {{/if}}">
                            Бренды
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/sales.html" class="page-header__nav-link {{#if isSalesPage}} active {{/if}}">
                            Акции
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/news.html" class="page-header__nav-link {{#if isNewsPage}} active {{/if}}">
                            Новости
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/delivery.html" class="page-header__nav-link">
                            Доставка
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/contacts.html" class="page-header__nav-link {{#if isContactsPage}} active {{/if}}">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>