<section class="home-news">
    <div class="home-news__content">
        <div class="home-news__top-row">
            <h2 class="home-news__heading">
                Новости
            </h2>
            <a href="#" class="home-news__all-link">
                Все новости
            </a>
        </div>
        <div class="home-news__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/1.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    20.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    Дарим 10000 баллов на КАРТУ Постоянного Покупателя ВДВ!
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/2.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    17.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    В продаже НОВЫЕ КОЛЛЕКЦИИ женского трикотажа
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/3.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    21.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    НОВАЯ Осенне-Зимняя КОЛЛЕКЦИЯ женской одежды
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/1.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    20.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    Дарим 10000 баллов на КАРТУ Постоянного Покупателя ВДВ!
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/2.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    17.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    В продаже НОВЫЕ КОЛЛЕКЦИИ женского трикотажа
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/3.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    21.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    НОВАЯ Осенне-Зимняя КОЛЛЕКЦИЯ женской одежды
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home-news__slider-card">
                            <div class="home-news__slider-card-image-container">
                                <img src="/images/home-news/1.webp" alt="" class="home-news__slider-card-image">
                            </div>
                            <div class="home-news__slider-card-content">
                                <div class="home-news__slider-card-date">
                                    20.02.2025
                                </div>
                                <h3 class="home-news__slider-card-title">
                                    Дарим 10000 баллов на КАРТУ Постоянного Покупателя ВДВ!
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="home-news__slider-pagination">

            </div>
        </div>
    </div>
</section>