<section class="news-detail">
    <div class="news-detail__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Новости</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        Галерея Моды ВДВ предлагает НОВУЮ КОЛЛЕКЦИЮ немецкого бренда MONARI !!!
                    </a>
                </li>
            </ul>
        </div>
        <div class="news-detail__row">
            <div class="news-detail__left-col">
                <div class="news-detail__image-wrapper">
                    <img src="/images/news-detail.webp" alt="" class="news-detail__image">
                </div>
                <div class="news-detail__info">
                    <div class="news-detail__date">
                        25.02.2025
                    </div>
                    <div class="news-detail__views">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#eye"></use>
                        </svg>
                        123
                    </div>
                </div>
                <a href="#" class="news-detail__other-link">
                    К другим новостям
                </a>
            </div>
            <div class="news-detail__right-col">
                <div class="news-detail__title-wrapper">
                    <h1 class="news-detail__title">
                        Галерея Моды ВДВ предлагает НОВУЮ КОЛЛЕКЦИЮ немецкого бренда MONARI!!!

                    </h1>
                    <a href="#" class="news-detail__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#sharing"></use>
                        </svg>
                    </a>
                </div>
                <div class="news-detail__text-content">
                    <p>
                        Брюки, футболки, джемперы, жакеты, весенние куртки в нежных кремово-коричневых оттенках
                        специально
                        созданы для женщин, не боящихся экспериментов с внешностью, имеющих индивидуальный стиль и
                        выделяющихся из толпы.
                    </p>
                    <p>
                        В каждой модели КОЛЛЕКЦИИ MONARI отображается Италия - в летящих силуэтах, украшениях изделий
                        стразами, легких текстурах.
                    </p>
                    <p>
                        Каждая модница сможет выбрать достойные модели, позволяющие выглядеть оригинально при любых
                        жизненных обстоятельствах !
                    </p>
                    <p>
                        Покупайте стильный и качественный гардероб от немецкого бренда MONARI !!!
                    </p>
                </div>
            </div>
        </div>
        <div class="news-detail__subscribe">
            <div class="news-detail__subscribe-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#newsletter"></use>
                </svg>
            </div>
            <div class="news-detail__subscribe-text">
                Подпишитесь на рассылки и получайте скидки и привилегии, а так же интересные статьи галереи моды ВДВ
            </div>
            <form action="/" method="POST" class="news-detail__form" data-need-validation="">
                <div class="news-detail__form-input-wrapper">
                    <input type="email" class="news-detail__form-input" placeholder="Ваш e-mail" required="">
                    <div class="news-detail__form-placeholder">
                        Ваш e-mail
                    </div>
                </div>
                <button type="submit" class="news-detail__form-button" type="submit">
                    Подписаться
                </button>
            </form>
        </div>
    </div>
</section>