<section class="account">
    <div class="account__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        Личный кабинет
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="account__heading">
            Личный кабинет
        </h1>
        <div class="account__nav">
            <ul class="account__nav-list">
                <li class="account__nav-list-item">
                    <a href="#" class="account__nav-link active">
                        Мои заказы
                    </a>
                </li>
                <li class="account__nav-list-item">
                    <a href="#" class="account__nav-link">
                        Мои данные
                    </a>
                </li>
                <li class="account__nav-list-item">
                    <a href="#" class="account__nav-link">
                        Рассылки
                    </a>
                </li>
            </ul>
        </div>
        <div class="account__orders">
            <div class="account__orders-header">
                <div class="account__orders-header-item">
                    Заказ №
                </div>
                <div class="account__orders-header-item">
                    Дата и время заказа
                </div>
                <div class="account__orders-header-item">
                    Сумма заказа
                </div>
                <div class="account__orders-header-item">
                    Статус
                </div>
                <div class="account__orders-header-item">
                    Способ оплаты
                </div>
            </div>
            <ul class="account__orders-list">
                <li class="account__orders-list-item">
                    <div class="account__orders-card">
                        <div class="account__orders-card-top">
                            <div class="account__orders-card-number" data-text="Заказ №">
                                123546
                            </div>
                            <div class="account__orders-card-date" data-text="Дата и время заказа">
                                02.02.2025, 18:00
                            </div>
                            <div class="account__orders-card-amount" data-text="Сумма заказа">
                                11 690 ₽
                            </div>
                            <div class="account__orders-card-status" data-text="Статус">
                                На подтверждении
                            </div>
                            <div class="account__orders-card-btn-wrapper">


                                <div class="account__orders-card-payment" data-text="Способ оплаты">
                                    Оплата при получении
                                </div>
                                <button class="account__orders-card-btn">
                                    <span>
                                        Подробнее о заказе
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="account__orders-card-dropdown">
                            <div class="account__orders-card-dropdown-inner">
                                <div class="account__orders-card-content">
                                    <div class="account__orders-card-header">
                                        <div class="account__orders-card-header-item">
                                            Наименование
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Цена
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Кол-во
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Сумма
                                        </div>
                                    </div>
                                    <ul class="account__orders-card-list">
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-old">
                                                        13 600 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-discount">
                                                        10%
                                                    </div>
                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="account__orders-list-item">
                    <div class="account__orders-card">
                        <div class="account__orders-card-top">
                            <div class="account__orders-card-number" data-text="Заказ №">
                                123546
                            </div>
                            <div class="account__orders-card-date" data-text="Дата и время заказа">
                                02.02.2025, 18:00
                            </div>
                            <div class="account__orders-card-amount" data-text="Сумма заказа">
                                11 690 ₽
                            </div>
                            <div class="account__orders-card-status" data-text="Статус">
                                На подтверждении
                            </div>
                            <div class="account__orders-card-btn-wrapper">


                                <div class="account__orders-card-payment" data-text="Способ оплаты">
                                    Оплата при получении
                                </div>
                                <button class="account__orders-card-btn">
                                    <span>
                                        Подробнее о заказе
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="account__orders-card-dropdown">
                            <div class="account__orders-card-dropdown-inner">
                                <div class="account__orders-card-content">
                                    <div class="account__orders-card-header">
                                        <div class="account__orders-card-header-item">
                                            Наименование
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Цена
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Кол-во
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Сумма
                                        </div>
                                    </div>
                                    <ul class="account__orders-card-list">
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-old">
                                                        13 600 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-discount">
                                                        10%
                                                    </div>
                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="account__orders-list-item">
                    <div class="account__orders-card">
                        <div class="account__orders-card-top">
                            <div class="account__orders-card-number" data-text="Заказ №">
                                123546
                            </div>
                            <div class="account__orders-card-date" data-text="Дата и время заказа">
                                02.02.2025, 18:00
                            </div>
                            <div class="account__orders-card-amount" data-text="Сумма заказа">
                                11 690 ₽
                            </div>
                            <div class="account__orders-card-status account__orders-card-status--complete"
                                data-text="Статус">
                                Выполнен
                            </div>
                            <div class="account__orders-card-btn-wrapper">


                                <div class="account__orders-card-payment" data-text="Способ оплаты">
                                    Оплата на сайте
                                </div>
                                <button class="account__orders-card-btn">
                                    <span>
                                        Подробнее о заказе
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="account__orders-card-dropdown">
                            <div class="account__orders-card-dropdown-inner">
                                <div class="account__orders-card-content">
                                    <div class="account__orders-card-header">
                                        <div class="account__orders-card-header-item">
                                            Наименование
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Цена
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Кол-во
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Сумма
                                        </div>
                                    </div>
                                    <ul class="account__orders-card-list">
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-old">
                                                        13 600 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-discount">
                                                        10%
                                                    </div>
                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="account__orders-list-item">
                    <div class="account__orders-card">
                        <div class="account__orders-card-top">
                            <div class="account__orders-card-number" data-text="Заказ №">
                                123546
                            </div>
                            <div class="account__orders-card-date" data-text="Дата и время заказа">
                                02.02.2025, 18:00
                            </div>
                            <div class="account__orders-card-amount" data-text="Сумма заказа">
                                11 690 ₽
                            </div>
                            <div class="account__orders-card-status account__orders-card-status--cancelled"
                                data-text="Статус">
                                Отменен
                            </div>
                            <div class="account__orders-card-btn-wrapper">


                                <div class="account__orders-card-payment" data-text="Способ оплаты">
                                    Оплата при получении
                                </div>
                                <button class="account__orders-card-btn">
                                    <span>
                                        Подробнее о заказе
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="account__orders-card-dropdown">
                            <div class="account__orders-card-dropdown-inner">
                                <div class="account__orders-card-content">
                                    <div class="account__orders-card-header">
                                        <div class="account__orders-card-header-item">
                                            Наименование
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Цена
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Кол-во
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Сумма
                                        </div>
                                    </div>
                                    <ul class="account__orders-card-list">
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-old">
                                                        13 600 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-discount">
                                                        10%
                                                    </div>
                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="account__orders-list-item">
                    <div class="account__orders-card">
                        <div class="account__orders-card-top">
                            <div class="account__orders-card-number" data-text="Заказ №">
                                123546
                            </div>
                            <div class="account__orders-card-date" data-text="Дата и время заказа">
                                02.02.2025, 18:00
                            </div>
                            <div class="account__orders-card-amount" data-text="Сумма заказа">
                                11 690 ₽
                            </div>
                            <div class="account__orders-card-status" data-text="Статус">
                                На подтверждении
                            </div>
                            <div class="account__orders-card-btn-wrapper">


                                <div class="account__orders-card-payment" data-text="Способ оплаты">
                                    Оплата при получении
                                </div>
                                <button class="account__orders-card-btn">
                                    <span>
                                        Подробнее о заказе
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="account__orders-card-dropdown">
                            <div class="account__orders-card-dropdown-inner">
                                <div class="account__orders-card-content">
                                    <div class="account__orders-card-header">
                                        <div class="account__orders-card-header-item">
                                            Наименование
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Цена
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Кол-во
                                        </div>
                                        <div class="account__orders-card-header-item">
                                            Сумма
                                        </div>
                                    </div>
                                    <ul class="account__orders-card-list">
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                        <li class="account__orders-card-list-item">
                                            <div class="account__orders-card-product">
                                                <div class="account__orders-card-product-left-wrapper">
                                                    <div class="account__orders-card-product-image-container">
                                                        <img src="/images/order-product.webp" alt=""
                                                            class="account__orders-card-product-image">
                                                    </div>
                                                    <div class="account__orders-card-product-content">
                                                        <h3 class="account__orders-card-product-title">
                                                            Жакет Oui 85985
                                                        </h3>
                                                        <div class="account__orders-card-product-code">
                                                            Артикул: 85985
                                                        </div>
                                                        <div class="account__orders-card-product-row">
                                                            <div class="account__orders-card-product-color">
                                                                Цвет:
                                                                <div class="account__orders-card-product-color-mark"
                                                                    style="--product-color: #1F3250;">

                                                                </div>
                                                            </div>
                                                            <div class="account__orders-card-product-size">
                                                                Размер:
                                                                <div class="account__orders-card-product-size-mark">
                                                                    44
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="account__orders-card-product-price-wrapper">
                                                    <div class="account__orders-card-product-price">
                                                        11 690 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-old">
                                                        13 600 ₽
                                                    </div>
                                                    <div class="account__orders-card-product-price-discount">
                                                        10%
                                                    </div>
                                                </div>
                                                <div class="account__orders-card-product-quantity">
                                                    1
                                                </div>
                                                <div class="account__orders-card-product-total">
                                                    11 690 ₽
                                                </div>

                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>