<section class="requisites">
    <div class="requisites__content">
        <h2 class="requisites__heading">
            Реквизиты компании
        </h2>
        <ul class="requisites__list">
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Полное наименование фирмы
                    </div>
                    <div class="requisites__card-value">
                        ООО «Торговая компания ВДВ»
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Юридический адрес
                    </div>
                    <div class="requisites__card-value">
                        129327 Москва, ул. Менжинского, 23/1
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Фактический полный почтовый адрес
                    </div>
                    <div class="requisites__card-value">
                        129327 Москва, ул. Менжинского, 23/1
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Телефон по фактическому адресу
                    </div>
                    <div class="requisites__card-value">
                        (499) 180-23-57
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Телефакс по фактическому адресу
                    </div>
                    <div class="requisites__card-value">
                        (499) 180-23-57
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Электронный адрес
                    </div>
                    <div class="requisites__card-value">
                        tk.vdv.1990@gmail.com
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Телефон Главного бухгалтера
                    </div>
                    <div class="requisites__card-value">
                        (499) 180-23-57
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Идентификационный номер (ИНН)
                    </div>
                    <div class="requisites__card-value">
                        7716079011
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        КПП
                    </div>
                    <div class="requisites__card-value">
                        771601001
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Расчетный счет
                    </div>
                    <div class="requisites__card-value">
                        40702810638090001967
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Полное наименование банка
                    </div>
                    <div class="requisites__card-value">
                        ПАО Сбербанк России г.Москва
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Адрес банка
                    </div>
                    <div class="requisites__card-value">
                        107045 Москва, ул. Сретенка 17 стр. 1-2
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Корреспондирующий счет
                    </div>
                    <div class="requisites__card-value">
                        30101810400000000225
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        БИК
                    </div>
                    <div class="requisites__card-value">
                        044525225
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код отрасли ОКОНХ
                    </div>
                    <div class="requisites__card-value">
                        71211
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код организации по ОКПО
                    </div>
                    <div class="requisites__card-value">
                        13273113
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код по группировке ОКОГУ
                    </div>
                    <div class="requisites__card-value">
                        49008
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код по местонахождению ОКАТО
                    </div>
                    <div class="requisites__card-value">
                        45280556000
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код по форме собственности ОКФС
                    </div>
                    <div class="requisites__card-value">
                        16
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код по орг.-правовой форме ОКОПФ
                    </div>
                    <div class="requisites__card-value">
                        65
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Код по основному виду деятельности ОКВЭД
                    </div>
                    <div class="requisites__card-value">
                        52
                    </div>
                </div>
            </li>
            <li class="requisites__list-item">
                <div class="requisites__card">
                    <div class="requisites__card-key">
                        Основной гос. Регистрац. номер ОГРН
                    </div>
                    <div class="requisites__card-value">
                        1027739768430
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>