<section class="sales-catalog">
    <div class="sales-catalog__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        <span>Акции</span>
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="sales-catalog__heading">
            Акции
        </h1>
        <ul class="sales-catalog__list">
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/1.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        Новинки
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/2.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        SALE на женский ассортимент
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/3.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        SALE на мужской ассортимент
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/4.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        SALE на мужской ассортимент
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/5.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        Новинки
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/6.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        SALE на женский ассортимент
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/7.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        SALE на мужской ассортимент
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/8.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        Новинки
                    </h3>
                </a>
            </li>
            <li class="sales-catalog__list-item">
                <a href="#" class="sales-card">
                    <div class="sales-card__image-container">
                        <img src="/images/sales/9.webp" alt="" class="sales-card__image">
                        <div class="sales-card__popover">
                            <div class="sales-card__btn">
                                К покупкам
                            </div>
                            <div class="sales-card__text">
                                ГАЛЕРЕЯ МОДЫ ВДВ сотрудничает с ведущими немецкими производителями, качество продукции
                                которых проверено временем.
                            </div>
                        </div>
                    </div>
                    <h3 class="sales-card__title">
                        SALE на женский ассортимент
                    </h3>
                </a>
            </li>
        </ul>
        <div class="pagination">
            <ul class="pagination__list">
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link disabled">
                        &lt;
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link current">
                        1
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        2
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        3
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        4
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        ...
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        10
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        &gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>