<section class="sales">
    <div class="sales__content">
        <div class="sales__top-row">
            <h2 class="sales__heading">
                Выгодные предложения
            </h2>
            <a href="#" class="sales__more">
                Все акции
            </a>
        </div>
        <div class="sales__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/1.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                Новинки
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/2.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                SALE на женский ассортимент
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/3.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                SALE на мужской ассортимент
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/1.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                Новинки
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/2.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                SALE на женский ассортимент
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/3.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                SALE на мужской ассортимент
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sales__slider-card">
                            <div class="sales__slider-card-image-container">
                                <img src="/images/sales/1.webp" alt="" class="sales__slider-card-image">
                            </div>
                            <h3 class="sales__slider-card-title">
                                Новинки
                            </h3>
                        </a>
                    </div>

                </div>
            </div>
            <div class="sales__slider-pagination">

            </div>
        </div>
    </div>
</section>