<section class="shop">
    <div class="shop__content">
        <div class="shop__top-row">
            <h2 class="shop__heading">
                Магазин одежды и обуви
            </h2>
            <a href="#" class="shop__link">
                Подробнее
            </a>
        </div>
        <div class="shop__middle">
            <div class="shop__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/images/shop/1.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/1.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/2.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/2.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/3.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/3.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/4.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/4.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/5.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/5.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/6.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/6.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/1.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/1.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/2.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/2.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/3.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/3.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/4.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/4.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/5.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/5.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/shop/6.webp" class="gallery-card" data-fancybox="gallery">
                                <div class="gallery-card__image-wrapper">
                                    <img src="/images/shop/6.webp" alt="" class="gallery-card__image">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="shop__slider-pagination"></div>
            </div>
            <a href="#rutube-video" class="shop__video" data-fancybox="">
                <div class="shop__video-preview-wrapper">
                    <img src="/images/shop-video.webp" alt="" class="shop__video-preview-image">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
                <div class="shop__video-text">
                    Посетите наш магазин прямо сейчас, погрузившись в виртуальный тур!
                </div>
            </a>


        </div>
        <div class="shop__location">
            <img src="/images/location.svg" alt="" class="shop__location-icon">
            <div class="shop__location-text">
                <b>ГАЛЕРЕЯ МОДЫ ВДВ</b> – мультибрендовый магазин одежды и обуви из Германии, расположенный в
                Северо-Восточном
                округе Москвы по адресу ул. Менжинского дом 23 корпус 1, с очень удобным подъездом около станции метро
                Бабушкинская (1 минута от метро).
            </div>
        </div>
    </div>
</section>


<div class="hidden">
    <div class="rutube-video-wrapper" id="rutube-video">

        <iframe loading="lazy" width="720" height="405"
            src="https://rutube.ru/play/embed/7716bd3e665725c3c008ae7ab4ff02e2" frameBorder="0"
            allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
</div>