<section class="tour">
    <div class="tour__content">
        <h2 class="tour__heading">
            Виртуальный тур по магазину
        </h2>

        <div class="tour__wrapper">
            <div style="position:relative;overflow:hidden;"><a
                    href="https://yandex.ru/maps/org/galereya_mody_vdv/1112733429/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Галерея моды ВДВ</a><a
                    href="https://yandex.ru/maps/213/moscow/category/clothing_store/184107943/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин одежды в Москве</a><a
                    href="https://yandex.ru/maps/213/moscow/category/shoe_store/184107941/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:28px;">Магазин обуви в Москве</a><iframe
                    src="https://yandex.ru/map-widget/v1/org/galereya_mody_vdv/1112733429/panorama/?indoorLevel=1&ll=37.664091%2C55.869255&panorama%5Bdirection%5D=349.871380%2C25.431341&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.662260%2C55.869238&panorama%5Bspan%5D=117.995372%2C60.000000&tilt=0.8726646259971648&z=17.13"
                    width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
        </div>
    </div>
</section>