<section class="news-detail">
    <div class="news-detail__content">

        <div class="article-content" style="max-width:700px">
            <p>
                Брюки, футболки, джемперы, жакеты, весенние куртки в нежных кремово-коричневых оттенках
                специально
                созданы для женщин, не боящихся экспериментов с внешностью, имеющих индивидуальный стиль и
                выделяющихся из толпы.
            </p>
            <h1>
                ЗАГОЛОВОК H1
            </h1>
            <ul>
                <li>
                    Брюки, футболки, джемперы, жакеты, весенние куртки
                </li>
                <li>
                    В каждой модели КОЛЛЕКЦИИ MONARI отображается Италия
                </li>
                <li>
                    Каждая модница сможет выбрать достойные модели, позволяющие выглядеть оригинально при любых
                </li>
                <li>
                    Покупайте стильный и качественный гардероб от немецкого бренда MONARI !!!
                </li>
            </ul>
            <p>
                В каждой модели КОЛЛЕКЦИИ MONARI отображается Италия - в летящих силуэтах, украшениях изделий
                стразами, легких текстурах.
            </p>
            <h2>
                ЗАГОЛОВОК H2
            </h2>
            <p>
                Каждая модница сможет выбрать достойные модели, позволяющие выглядеть оригинально при любых
                жизненных обстоятельствах !
            </p>
            <h3>
                ЗАГОЛОВОК H3
            </h3>
            <p>
                Покупайте стильный и качественный гардероб от немецкого бренда MONARI !!!
            </p>
            <ol>
                <li>
                    Брюки, футболки, джемперы, жакеты, весенние куртки
                </li>
                <li>
                    В каждой модели КОЛЛЕКЦИИ MONARI отображается Италия
                </li>
                <li>
                    Каждая модница сможет выбрать достойные модели, позволяющие выглядеть оригинально при любых
                </li>
                <li>
                    Покупайте стильный и качественный гардероб от немецкого бренда MONARI !!!
                </li>
            </ol>
            <table>
                <thead>
                    <tr>
                        <th>
                            Название колонки
                        </th>
                        <th>
                            Название колонки
                        </th>
                        <th>
                            Название колонки
                        </th>
                        <th>
                            Название колонки
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                        <td>
                            Название строки
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display: flex; flex-direction: column; gap: 1rem; margin-top: 2rem; max-width:700px;">

            <div class="text-input-wrapper">
                <input type="text" class="text-input" name="name" placeholder="Ваше имя" required="">
                <span class="text-input-placeholder">Ваше имя<sup>*</sup></span>
            </div>
        </div>
        <div class="about__location">
            <img src="/images/location.svg" alt="" class="about__location-icon">
            <div class="about__location-text">
                <b>ГАЛЕРЕЯ МОДЫ ВДВ</b> – мультибрендовый магазин одежды и обуви из Германии, расположенный в
                Северо-Восточном
                округе Москвы по адресу ул. Менжинского дом 23 корпус 1, с очень удобным подъездом около станции метро
                Бабушкинская (1 минута от метро).
            </div>
        </div>
    </div>
</section>