<section class="write-us">
    <div class="write-us__content">
        <div class="write-us__text-content">
            <h2 class="write-us__heading">
                Напишите нам
            </h2>
            <div class="write-us__text">
                Наш специалист свяжется с вами в ближайшее время.
            </div>
        </div>
        <form action="/" method="POST" class="write-us__form" data-need-validation="">
            <div class="write-us__fields">
                <div class="write-us__field">
                    <div class="text-input-wrapper">
                        <input type="text" class="text-input" name="name" placeholder="Ваше имя" required="">
                        <span class="text-input-placeholder">Ваше имя<sup>*</sup></span>
                    </div>
                </div>
                <div class="write-us__field">
                    <div class="text-input-wrapper">
                        <input type="tel" class="text-input js-phone-input" name="phone" placeholder="Телефон"
                            required="" data-parsley-phone="">
                        <span class="text-input-placeholder">Телефон<sup>*</sup></span>
                    </div>
                </div>
                <div class="write-us__field">
                    <div class="text-input-wrapper">
                        <input type="email" class="text-input" name="email" placeholder="E-mail" required="">
                        <span class="text-input-placeholder">E-mail<sup>*</sup></span>
                    </div>
                </div>
                <div class="write-us__field write-us__field--high">
                    <div class="text-input-wrapper">
                        <textarea name="message" class="text-input" placeholder="Сообщение"></textarea>
                        <span class="text-input-placeholder">Сообщение</span>
                    </div>
                </div>
            </div>
            <div class="write-us__controls">
                <button class="write-us__submit" type="submit">
                    Отправить
                </button>
                <div class="write-us__policy">
                    Нажимая на кнопку «Отправить», вы даете согласие с <a href="#">политикой конфиденциальности</a>
                </div>
            </div>
        </form>
    </div>
</section>