@use "media";
@use "utils";

.breadcrumbs {
  margin-bottom: 3.4rem;
  display: block;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.breadcrumbs__link {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &::after {
    content: "";
    flex-shrink: 0;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #f2f4f6;
    border-radius: 50%;
  }

  .breadcrumbs__list-item:last-child & {
    &::after {
      display: none;
    }
  }

  &:link,
  &:visited {
    color: var(--primary-color);
  }

  &.active {
    color: #a9b0b9;
    text-decoration: none;
  }
}
