@use "media";
@use "utils";

.cart {
  @include utils.blockWrapper;
  margin-bottom: 12rem;
  padding-top: 3.6rem;
  @include media.breakpoint(tablet) {
    margin-bottom: 4.6rem;
    padding-top: 2.8rem;
  }

  @include media.breakpoint(mobile) {
    padding-top: 1.8rem;
    margin-bottom: 4rem;
  }
}

.cart__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.cart__heading {
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 3.4rem;
  @include media.breakpoint(tablet) {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    margin-top: 3rem;
  }

  @include media.breakpoint(mobile) {
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 1.5rem;
  }
}

.cart__status {
  padding: 2.6rem 4.2rem;
  border-radius: 1.2rem;
  background: #f2f4f6;
  display: flex;
  align-items: center;
  gap: 8.8rem;
  margin-top: 6rem;
  @include media.breakpoint(tablet) {
    padding: 2.7rem 1.7rem;
    padding-left: 2.6rem;
    gap: 8rem;
    margin-top: 3rem;
  }

  @include media.breakpoint(mobile) {
    padding: 2rem 2.5rem;
    border-radius: 1.2rem;
    align-items: flex-end;
    grid-template-columns: auto 1fr;
    grid-gap: 1.2rem;
    grid-row-gap: 1rem;
    display: grid;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cart__status-total {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #6f7a87;
  @include media.breakpoint(tablet) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  @include media.breakpoint(mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
  }
}

.cart__status-total-text {
  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    white-space: nowrap;
  }
}

.cart__status-total-amount {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-color);
  @include media.breakpoint(tablet) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.cart__fav {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  transition: text-decoration-color 0.2s;
  &:link,
  &:visited {
    color: var(--primary-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:link:hover {
      text-decoration-color: transparent;
    }
  }

  @include media.breakpoint(tablet) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    grid-column: 1 / 2;
  }
}

.cart__clear-form {
  margin-left: auto;
  flex-shrink: 0;

  @include media.breakpoint(mobile) {
    margin: 0;
    grid-column: 1 / 2;
  }
}

.cart__clear-btn {
  transition: fill 0.2s;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #6f7a87;
  gap: 2rem;
  transition: color 0.2s;
  svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: #a9b0b9;
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
      svg {
        fill: var(--primary-color);
      }
    }
  }

  @include media.breakpoint(tablet) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    gap: 1.2rem;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @include media.breakpoint(mobile) {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.cart__blocks {
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
  margin-top: 4rem;
  @include media.breakpoint(tablet) {
    gap: 2.2rem;
    margin-top: 2rem;
  }

  @include media.breakpoint(mobile) {
    gap: 2.8rem;
    margin-top: 2.8rem;
  }
}

.cart__block {
  display: flex;
  flex-direction: column;
}

.cart__block-heading {
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.2rem;
  @include media.breakpoint(tablet) {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2.4rem;
  }
  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
  }
}

.cart__items {
  display: flex;
  flex-direction: column;
}

.cart__items-header {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.35fr) minmax(0, 0.35fr)
    minmax(0, 0.5fr);
  grid-template-areas: "one two three four five";
  grid-gap: 2rem;
  align-items: baseline;
  margin-bottom: 1.9rem;

  @include media.breakpoint(tablet) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.3fr) minmax(0, 0.3fr) minmax(
        0,
        0.5fr
      );
    grid-template-areas: "one three four five";
    margin-bottom: 2rem;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.cart__items-header-label {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #6f7a87;
  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &--one {
    grid-area: one;
  }

  &--two {
    grid-area: two;
  }

  &--three {
    grid-area: three;
  }

  &--four {
    grid-area: four;
  }

  &--five {
    grid-area: five;
  }
}

.cart__items-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  @include media.breakpoint(mobile) {
    gap: 1rem;
  }
}

.cart__item-card {
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.35fr) minmax(0, 0.35fr)
    minmax(0, 0.5fr);
  grid-template-areas: "one two three four five";
  grid-gap: 2rem;
  align-items: center;
  display: grid;
  border-radius: 1.2rem;
  border: 1px solid #f2f4f6;
  padding: 1.6rem 0;
  @include media.breakpoint(tablet) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.3fr) minmax(0, 0.3fr) minmax(
        0,
        0.5fr
      );
    padding: 1.4rem 0;
    grid-template-areas: "one three four five";
    align-items: center;

    &:has(.cart__item-card-fav-wrapper) {
      grid-template-areas: "one three four five" "two three four five";
    }
  }

  @include media.breakpoint(mobile) {
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;
    grid-template-areas: unset;
    display: grid;
    grid-row-gap: 1.6rem;
    padding: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 1.2rem;
  }
}

.cart__item-card-info {
  grid-area: one;
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
  gap: 3rem;
  @include media.breakpoint(tablet) {
    gap: 2rem;
  }

  @include media.breakpoint(mobile) {
    gap: 1rem;
    grid-area: unset;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0;
    padding-right: 3rem;
  }
}

.cart__item-card-image-wrapper {
  flex-shrink: 0;
  width: 14rem;
  height: 16rem;
  border-radius: 0.8rem;
  border: 1px solid #f5f5f6;
  position: relative;
  @include media.breakpoint(tablet) {
    width: 8.8rem;
    height: 10rem;
  }

  @include media.breakpoint(mobile) {
    width: 6rem;
    height: 7rem;
  }
}

.cart__item-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart__item-card-info-content {
  display: flex;
  flex-direction: column;
}

.cart__item-card-title {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.cart__item-card-code {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #6f7a87;
  margin-top: 0.5rem;
  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 0.6rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 0.8rem;
  }
}

.cart__item-card-info-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-top: 1.5rem;
  @include media.breakpoint(tablet) {
    gap: 1.2rem;
    margin-top: 0.9rem;
  }

  @include media.breakpoint(mobile) {
    margin-top: 0.8rem;
    gap: 1.2rem;
  }
}

.cart__item-card-color {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #6f7a87;
  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    gap: 0.6rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }
}

.cart__item-card-color-box {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
  @include media.breakpoint(tablet) {
    width: 2rem;
    height: 2rem;
  }
}

.cart__item-card-size {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #6f7a87;
  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }
}

.cart__item-card-size-box {
  display: block;
  text-align: center;
  padding: 0.2rem 0.4rem;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 0.6rem;
  border: 1px solid #a9b0b9;
  color: var(--text-color);
}

.cart__item-card-fav-wrapper {
  grid-area: two;
  display: flex;
  flex-direction: column;
  @include media.breakpoint(tablet) {
    margin-left: 1.5rem;
  }

  @include media.breakpoint(mobile) {
    margin: 0;
    grid-area: unset;
    grid-column: 1 / -1;
  }
}

.cart__item-card-fav {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.cart__item-card-fav-icon {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  place-items: center;
  background-color: #f2f4f6;
  color: var(--primary-color);
  border-radius: 0.6rem;

  svg {
    fill: var(--primary-color);
    width: 2rem;
    height: 2rem;
  }
}

.cart__item-card-fav-content {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.cart__item-card-fav-add {
  color: var(--primary-color);
}

.cart__item-card-price-wrapper {
  grid-area: three;
  display: flex;
  flex-direction: column;

  @include media.breakpoint(mobile) {
    grid-area: unset;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.cart__item-card-price {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.cart__item-card-old-price {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
  color: #a9b0b9;
  text-decoration-color: #a9b0b9;
  margin-top: 0.7rem;

  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
  }
}

.cart__item-card-economy {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  align-self: flex-start;
  color: #6f7a87;
  padding: 0.4rem 1.6rem;
  border-radius: 3rem;
  background: #dfffce;
  margin-top: 0.7rem;
  text-align: center;
  @include media.breakpoint(tablet) {
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    display: none;
  }
}

.cart__item-card-amount-wrapper {
  grid-area: four;
  @include media.breakpoint(tablet) {
    .counter {
      padding: 1.2rem;
      width: auto;
      max-width: 8rem;
      gap: 0.2rem;
    }
    .counter__amount-input {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  @include media.breakpoint(mobile) {
    grid-area: unset;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.cart__item-card-total-wrapper {
  grid-area: five;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-right: 3rem;

  @include media.breakpoint(tablet) {
    margin-right: 2.6rem;
  }

  @include media.breakpoint(mobile) {
    margin: 0;
    grid-area: unset;
    display: contents;
  }
}

.cart__item-card-total {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-self: flex-end;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
}

.cart__item-card-clear {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  @include media.breakpoint(tablet) {
    width: 1.6rem;
    height: 1.6rem;
  }

  @include media.breakpoint(mobile) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 10;
    margin-bottom: 0.5rem;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a9b0b9;
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.cart__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  @include media.breakpoint(tablet) {
    margin-top: 2rem;
    flex-direction: row;
    align-items: flex-start;
  }
  @include media.breakpoint(mobile) {
    margin-top: 2.5rem;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }
}

.cart__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
  order: -1;
  gap: 1.4rem;
  @include media.breakpoint(tablet) {
    gap: 1rem;
    order: 2;
  }

  @include media.breakpoint(mobile) {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: stretch;
    display: grid;
    order: -1;
  }
}

.cart__return-btn {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1.85rem 2.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  border-radius: 0.6rem;
  border: 0.2rem solid #a9b0b9;
  color: var(--text-color);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  flex-shrink: 0;
  white-space: nowrap;

  &:link,
  &:visited {
    color: var(--text-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: var(--primary-color);
    }
  }

  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding: 1.8rem 2.8rem;
  }

  @include media.breakpoint(mobile) {
    padding: 1.4rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    white-space: normal;
  }
}
.cart__checkout {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1.85rem 2.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--primary-color);
  color: var(--text-color);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  flex-shrink: 0;
  white-space: nowrap;
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding: 1.8rem 2.8rem;
  }

  @include media.breakpoint(mobile) {
    padding: 1.4rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    white-space: normal;
  }
}

.cart__total {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include media.breakpoint(tablet) {
    margin-top: 1.5rem;
  }

  @include media.breakpoint(mobile) {
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
  }
}

.cart__total-price {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.cart__total-old-price {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: line-through;
  color: #6f7a87;
  text-decoration-color: #6f7a87;
  margin-top: 0.4rem;
  text-decoration-thickness: 1px;

  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0.2rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.cart__total-economy {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #6f7a87;
  border-radius: 3rem;
  background: #dfffce;
  padding: 0.4rem 1.6rem;
  text-align: center;
  margin-top: 0.5rem;
}

.cart__promocode {
  display: flex;
  align-items: center;
  gap: 3rem;
  @include media.breakpoint(tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  @include media.breakpoint(mobile) {
    align-items: stretch;
  }
}

.cart__promocode-wrapper {
  width: 32rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.6rem;
  border: 1px solid #f2f4f6;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.2rem;
  @include media.breakpoint(tablet) {
    width: 27rem;
    height: 5rem;
  }

  @include media.breakpoint(mobile) {
    width: auto;
  }
}

.cart__promocode-input {
  width: 30%;
  flex-grow: 1;
  padding: 0 1.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: var(--text-color);

  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }

  &::placeholder {
    color: #6f7a87;
  }
}

.cart__promocode-enter {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
  }
}

.cart__promocode-result {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  @include media.breakpoint(tablet) {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  @include media.breakpoint(mobile) {
    align-items: center;
    text-align: center;
  }
}

.cart__promocode-name {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  @include media.breakpoint(tablet) {
    font-size: 1.6rem;
    font-style: normal;

    line-height: 140%;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;

    line-height: 140%;
  }
}

.cart__promocode-status {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #6f7a87;
  padding: 0.4rem 1.6rem;
  border-radius: 3rem;
  background: #dfffce;
  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    align-self: flex-start;
  }

  @include media.breakpoint(mobile) {
    align-self: center;
  }

  &--error {
    border-radius: 3rem;
    border: 1px solid #e27d7f;
    background-color: transparent;
    align-self: center;
  }
}
