@use "media";
@use "utils";

.catalog {
  @include utils.blockWrapper;
  padding-top: 3.6rem;
  margin-bottom: 10rem;
  @include media.breakpoint(tablet) {
    padding-top: 2.8rem;
    margin-bottom: 4.8rem;
  }

  @include media.breakpoint(mobile) {
    padding-top: 1.9rem;
    margin-bottom: 3.5rem;
  }
}

.catalog__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.catalog__row {
  margin-top: 4rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(10, minmax(0, 1fr));

  @include media.breakpoint(tablet) {
    margin-top: 3rem;
    display: contents;
  }
}

.catalog__sidebar {
  grid-column: 1 / 3;
  @include media.breakpoint(tablet) {
    display: none;
  }
}
.catalog__sidebar-inner {
  padding: 3rem;

  padding-top: 2.6rem;
  border-radius: 1.2rem;
  border: 1px solid #f2f4f6;
  position: sticky;
  top: 2rem;
  left: 0;
  @include media.breakpoint(tablet) {
    display: contents;
  }
}

.catalog__brand {
  margin-bottom: 2rem;
  display: block;
}

.catalog__brand-logo {
  object-fit: contain;
  display: block;
  height: 7rem;
  max-width: 100%;
  object-position: left center;
  width: auto;
  @include media.breakpoint(tablet) {
    height: 5rem;
    justify-self: flex-end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.catalog__categories-blocks {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include media.breakpoint(tablet) {
    display: none;
  }
}

.catalog__categories-block {
  display: flex;
  flex-direction: column;
}
.catalog__categories-block-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 90%; /* 1.62rem */
  text-transform: uppercase;
  color: #a9b0b9;
}

.catalog__categories-list {
  display: flex;
  flex-direction: column;
}

.catalog__categories-list-item {
  border-bottom: 1px solid #f2f4f6;
  &:last-child {
    border: none;
  }
}

.catalog__categories-card {
  display: flex;
  flex-direction: column;
}

.catalog__categories-card-btn {
  display: block;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  svg {
    flex-shrink: 0;
    width: 1.7rem;
    height: 1rem;
    fill: #a9b0b9;
    transition: transform 0.2s;
    pointer-events: none;
  }

  .catalog__categories-card.active & {
    svg {
      transform: rotate(180deg);
    }
  }
}

.catalog__categories-card-arrow {
  flex-shrink: 0;
  align-self: stretch;
  display: grid;
  place-items: center;
  margin: -2rem 0;
}

.catalog__categories-card-dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s;

  .catalog__categories-card.active & {
    grid-template-rows: 1fr;
  }
}

.catalog__categories-card-dropdown-inner {
  overflow: hidden;
}

.catalog__categories-card-dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 2rem;
}

.catalog__categories-card-dropdown-link {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.catalog__category-link {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2rem 0;
  display: block;
  &--red {
    color: var(--primary-color);
    &:link,
    &:visited {
      color: var(--primary-color);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.catalog__main {
  grid-column: 3 / -1;
  display: flex;
  flex-direction: column;
  @include media.breakpoint(tablet) {
    grid-column: 1 / -1;
  }
}

.catalog__heading-wrapper {
  margin-bottom: 7.6rem;
  @include media.breakpoint(tablet) {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
  }

  @include media.breakpoint(mobile) {
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
  }
}

.catalog__main-heading {
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;

  @include media.breakpoint(tablet) {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    align-self: center;
  }

  @include media.breakpoint(mobile) {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.catalog__heading-brand {
  display: none;
  height: 5rem;
  width: auto;
  object-fit: contain;
  object-position: right center;
  @include media.breakpoint(tablet) {
    margin-left: auto;
    display: block;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.catalog__promo {
  position: relative;
  border-radius: 1.2rem;
  background: radial-gradient(
    153.99% 47.18% at 24.83% 50%,
    #ff5335 0%,
    #d81619 100%
  );
  color: white;
  padding: 4rem;
  padding-right: 2rem;
  padding-left: 43rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 2rem;
  margin-bottom: 6.4rem;

  @include media.breakpoint(tablet) {
    padding: 3rem 2rem;
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }

  @include media.breakpoint(mobile) {
    padding: 1rem;
    padding-top: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3.8rem;
    padding: 2rem;
    background: radial-gradient(
      153.99% 47.18% at 24.83% 50%,
      #ff5335 0%,
      #d81619 100%
    );
  }
}

.catalog__promo-image {
  position: absolute;
  height: auto;
  width: 39.1rem;
  left: 3.1rem;
  bottom: 0;
  @include media.breakpoint(tablet) {
    display: none;
  }
}
.catalog__promo-text-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  @include media.breakpoint(tablet) {
    gap: 0.2rem;
  }

  @include media.breakpoint(mobile) {
    text-align: center;
  }
}

.catalog__promo-medium-text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;

  @include media.breakpoint(tablet) {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
  }
}

.catalog__promo-large-text {
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  @include media.breakpoint(tablet) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
  }

  @include media.breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
  }
}

.catalog__promo-small-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.catalog__promo-metro {
  width: 17rem;
  border-radius: 1.2rem;
  background: #fa4b32;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 1rem;
  padding-top: 2.6rem;
  gap: 1.3rem;
  @include media.breakpoint(tablet) {
    width: 13.3288rem;
    padding: 1rem;
    padding-bottom: 1.88rem;
    padding-top: 2rem;
  }

  @include media.breakpoint(mobile) {
    flex-direction: row;
    gap: 1.72rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1.4rem;
    width: auto;
    text-align: left;
  }
}

.catalog__promo-metro-image {
  width: 9.395rem;
  height: auto;
  @include media.breakpoint(tablet) {
    width: 7.3661rem;
  }

  @include media.breakpoint(mobile) {
    width: 4.8rem;
    flex-shrink: 0;
  }
}

.catalog__promo-metro-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 15rem;
  }
}

.catalog__promo-countdown {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.2rem;
  border: 0.2rem solid white;
  @include media.breakpoint(tablet) {
    padding: 2.2rem;
  }

  @include media.breakpoint(mobile) {
    padding: 1.15rem 2.3rem;
    padding-bottom: 1.31rem;
    width: auto;
    gap: 0.5rem;
  }
}

.catalog__promo-countdown-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.catalog__promo-countdown-groups {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  gap: 0.5rem;
  align-items: flex-start;

  svg {
    flex-shrink: 0;
    width: 0.6rem;
    height: 2.6rem;
    fill: white;
    margin-top: 1.55rem;
    justify-self: center;
    @include media.breakpoint(tablet) {
      width: 0.4704rem;
      height: 2.0385rem;
      margin-top: 2rem;
      transform: translateY(-50%);
    }
  }
}

.catalog__promo-countdown-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.catalog__promo-countdown-group-value {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.4rem;
  @include media.breakpoint(tablet) {
    grid-gap: 0.3rem;
  }
}

.catalog__promo-countdown-group-value-number {
  aspect-ratio: 3.8 / 6;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0.6rem;
  background: white;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
  color: #202425;

  @include media.breakpoint(tablet) {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 3.3rem */
    text-transform: uppercase;
  }
}

.catalog__promo-countdown-group-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 3rem;
  grid-row-gap: 5rem;
  margin-bottom: 3rem;
  @include media.breakpoint(tablet) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 3rem;
    margin-bottom: 4rem;
  }

  @include media.breakpoint(mobile) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 3rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__list-item {
  display: flex;
  flex-direction: column;
}

.catalog__filters {
  margin-bottom: 3.5rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 2.5rem;
  }
}
