@use "media";
@use "utils";

.page-header {
  position: relative;
  z-index: 50;
}
.page-header__top {
  @include utils.blockWrapper;
  background-color: #fff;
}

.page-header__top-content {
  @include utils.blockContent;
  margin: 0 -6rem;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  gap: 3.8rem;

  @include media.breakpoint(tablet) {
    margin: 0;
    padding: 2rem 0;
    grid-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-flow: dense;
    grid-template-areas: "logo controls phones";
  }

  @include media.breakpoint(mobile) {
    padding: 2rem 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "logo phones" "controls controls";
    grid-gap: 1rem;
    grid-row-gap: 2rem;
    padding-bottom: 1.5rem;
  }
}

.page-header__controls {
  display: contents;
  @include media.breakpoint(tablet) {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    grid-area: controls;
  }

  @include media.breakpoint(mobile) {
    justify-content: space-between;
    gap: 1rem;
  }
}

.page-header__burger {
  display: none;

  @include media.breakpoint(mobile) {
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    flex-shrink: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
}

.page-header__logo {
  flex-shrink: 0;
  margin-right: 5rem;

  @include media.breakpoint(tablet) {
    margin: 0;
    grid-column: 1 / 2;
    grid-area: logo;
  }
}

.page-header__logo-image {
  display: block;
  height: auto;
  width: 24rem;
  @include media.breakpoint(tablet) {
    width: 16.9rem;
  }

  @include media.breakpoint(mobile) {
    width: 13.5rem;
  }
}

.page-header__search {
  width: 55.3rem;
  margin-right: auto;
  @include media.breakpoint(tablet) {
    width: auto;
    margin: 0;
  }
}

.page-header__search-toggle-btn {
  display: none;
  @include media.breakpoint(tablet) {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #a9b0b9;
      transition: fill 0.2s;
    }

    .search-shown & {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}
.page-header__search-form-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #f2f4f6;
}

.page-header__search-dropdown {
  @include media.breakpoint(tablet) {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    @include utils.blockWrapper;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .search-shown & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0s linear 0s;
    }
  }
}

.page-header__search-dropdown-inner {
  @include media.breakpoint(tablet) {
    @include utils.blockContent;
    padding: 0.6rem 0;
  }
}
.page-header__search-input {
  width: 30%;
  flex-grow: 1;
  padding: 0 1.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: var(--text-color);
  &::placeholder {
    color: #6f7a87;
  }
}

.page-header__search-btn {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a9b0b9;
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.page-header__location {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  @include media.breakpoint(tablet) {
    margin: 0;
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.page-header__location-link {
  pointer-events: none;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  display: block;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a9b0b9;
  }
  @include media.breakpoint(tablet) {
    pointer-events: all;
  }
}

.page-header__location-wrapper {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  @include media.breakpoint(tablet) {
    display: block;
  }
}

.page-header__location-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include media.breakpoint(tablet) {
    display: none;
  }
}

.page-header__location-address {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.page-header__location-schedule {
  position: relative;
  align-self: flex-start;
  z-index: 50;
  &:hover {
    .page-header__location-schedule-dropdown {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.2s, visibility 0.2s;
    }
  }
}

.page-header__location-schedule-btn {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;

  text-underline-offset: 0.2rem;
  text-decoration-style: dotted;
}

.page-header__location-schedule-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  z-index: 10;

  display: none;
}

.page-header__location-schedule-dropdown-inner {
  background-color: #fff;
  border: 1px solid #f2f4f6;
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  position: relative;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: max-content;
  --triangle-size: 1.2rem;
  &::before {
    content: "";
    width: var(--triangle-size, 1.2rem);
    height: var(--triangle-size, 1.2rem);
    background-color: #fff;
    border: 1px solid #f2f4f6;
    margin-bottom: calc(-1 * var(--triangle-size, 1.2rem) / 2);
    border-right: none;
    border-bottom: none;
    transform: rotate(0deg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: 100%;
  }
}

.page-header__right-wrapper {
  display: flex;
  align-items: center;
  gap: 3.8rem;
  @include media.breakpoint(tablet) {
    display: contents;
  }
}

.page-header__btns {
  display: flex;
  align-items: center;
  gap: 3rem;
  @include media.breakpoint(tablet) {
    display: contents;
  }
}

.page-header__user {
  position: relative;
  z-index: 50;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .page-header__user-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.2s, visibility 0.2s;
      }
    }
  }

  &.user-menu-shown {
    .page-header__user-dropdown {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.2s, visibility 0.2s;
    }
  }
}

.page-header__user-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    transition: fill 0.2s;
    fill: #a9b0b9;
  }

  &::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.4rem 0.3rem 0 0.3rem;
    border-color: var(--primary-color) transparent transparent transparent;
    transform: rotate(0deg);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.page-header__user-dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  padding-top: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  z-index: 30;
  width: max-content;
  --triangle-size: 1.2rem;
  margin-left: -0.5rem;
}

.page-header__user-dropdown-inner {
  background-color: white;
  border: 1px solid #f2f4f6;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  padding: 2rem 1.7rem;
  position: relative;
  &::before {
    content: "";
    width: var(--triangle-size, 1.2rem);
    height: var(--triangle-size, 1.2rem);
    background-color: #fff;
    border: 1px solid #f2f4f6;
    margin-bottom: calc(-1 * var(--triangle-size, 1.2rem) / 2);
    border-right: none;
    border-bottom: none;
    transform: rotate(0deg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: 100%;
  }
}

.page-header__user-list-item {
  border-bottom: 1px solid #f2f4f6;

  &:last-child {
    border: none;
  }
}

.page-header__user-link {
  display: block;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  svg {
    flex-shrink: 0;
    fill: #a9b0b9;
    width: 1.4rem;
    height: 1.4rem;
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
      svg {
        fill: var(--primary-color);
      }
    }
  }

  .page-header__user-list-item:first-child & {
    padding-top: 0;
  }
  .page-header__user-list-item:last-child & {
    padding-bottom: 0;
  }
}

.page-header__fav {
  flex-shrink: 0;
}

.page-header__fav-link {
  display: block;
  width: 2.4rem;
  height: 2.4rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a9b0b9;
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.page-header__cart {
  flex-shrink: 0;
}

.page-header__cart-link {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a9b0b9;
    transition: fill 0.2s;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.page-header__cart-count {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  color: white;
  position: absolute;
  right: -0.6rem;
  top: -0.4rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  text-transform: uppercase;
}

.page-header__phones {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  @include media.breakpoint(tablet) {
    grid-column: 7 / -1;
    justify-self: flex-end;
    gap: 0.3rem;
    grid-area: phones;
  }
}

.page-header__phone-link {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
  }
  &::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.4rem 0.3rem 0 0.3rem;
    border-color: var(--primary-color) transparent transparent transparent;
    transform: rotate(0deg);
  }
}

.page-header__callback-link {
  text-align: right;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;

  text-underline-offset: 0.2rem;
  transition: color 0.2s, text-decoration-color 0.2s;
  color: var(--primary-color);

  &:link,
  &:visited {
    color: var(--primary-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration-color: transparent;
    }
  }

  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
  }
}

.page-header__bottom {
  @include media.breakpointMF(small-tablet) {
    @include utils.blockWrapper;
    background: #e6e9ed;
  }

  @include media.breakpoint(mobile) {
    background: rgba(32, 36, 37, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    color: var(--text-color);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    gap: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    .menu-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.page-header__bottom-content {
  @include media.breakpointMF(small-tablet) {
    @include utils.blockContent;
  }
  @include media.breakpoint(mobile) {
    padding-top: 2.85rem;
    padding-bottom: 4.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 29rem;
    width: 100%;
    background-color: #fff;
    color: var(--text-color);
    transition: transform 0.4s;
    transform: translateX(-100%);
    .menu-open & {
      transform: translateX(0);
    }
  }
}

.page-header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  @include media.breakpoint(mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: stretch;
    justify-items: stretch;
    grid-column-gap: 1.4rem;
  }
}

.page-header__nav-list-item {
  flex-shrink: 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .page-header__catalog-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
      .page-header__nav-link:not(.active) {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &.hovered {
    .page-header__catalog-dropdown {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;

      @include media.breakpoint(mobile) {
        display: block;
      }
    }
    .page-header__nav-link:not(.active) {
      &::before {
        opacity: 1;
      }
    }
  }

  @include media.breakpoint(mobile) {
    display: contents;
    .page-header__nav-link {
      padding: 2rem 0;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 90%;
      text-transform: uppercase;
      grid-column: span 2;
      border-bottom: 1px solid #f2f4f6;
    }

    &:last-child {
      .page-header__nav-link {
        border-bottom: none;
      }
    }

    &--with-dropdown {
      .page-header__nav-link {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        position: relative;
        padding: 0;
        padding-bottom: 1.2rem;
        text-transform: none;
        grid-column: span 1;
        grid-row: 1 / 2;
        &::before {
          content: "";
          width: 100%;
          height: 0.2rem;
          left: 0;
          bottom: 0;
          position: absolute;
          background-color: var(--primary-color);
          opacity: 0;
          transition: opacity 0.2s;
          pointer-events: none;
        }
      }

      &.hovered {
        .page-header__nav-link {
          color: #6f7a87;
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.page-header__nav-link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  text-transform: uppercase;
  display: block;
  padding: 1.85rem 4.8rem;
  position: relative;

  @include media.breakpoint(tablet) {
    padding: 1.85rem 1.1rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
  }

  @include media.breakpointMF(small-tablet) {
    &::before {
      content: "";
      width: 100%;
      bottom: 0;
      left: 0;
      height: 0.5rem;
      background-color: var(--primary-color);
      opacity: 0;
      position: absolute;
      pointer-events: none;
      transition: opacity 0.2s;
      @include media.breakpoint(tablet) {
        height: 0.3rem;
      }
    }

    .page-header__nav-list-item--with-dropdown & {
      font-weight: 800;
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
    padding: 0;
  }

  &.active {
    color: #a9b0b9;
    cursor: default;
  }
}

.page-header__catalog-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 40;
  padding-top: 1rem;
  @include utils.blockWrapper;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  @include media.breakpoint(tablet) {
    padding-top: 0;
  }

  @include media.breakpoint(mobile) {
    left: auto;
    top: auto;
    display: none;
    position: relative;
    opacity: 1;
    visibility: inherit;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: none;
  }
}

.page-header__catalog-dropdown-inner {
  @include utils.blockContent;
  padding: 4rem;
  padding-bottom: 6rem;
  border-radius: 1.2rem;
  background: white;
  box-shadow: 0px 23px 15.4px -15px rgba(0, 0, 0, 0.25);

  @include media.breakpoint(tablet) {
    padding: 3.5rem 2rem;
    box-shadow: 0px 23px 15.4px -15px rgba(0, 0, 0, 0.25);
  }

  @include media.breakpoint(mobile) {
    padding: 0;
    background: transparent;
    box-shadow: none;
    padding-bottom: 4rem;
  }
}

.page-header__catalog-cols {
  display: flex;

  @include media.breakpoint(tablet) {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 0;
    grid-row-gap: 4rem;
    clip-path: inset(0 1px 0 0);
  }

  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    clip-path: none;
    gap: 0;
  }
}

.page-header__catalog-col {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  flex-grow: 1;
  width: 26.2rem;
  flex-shrink: 1;
  border-right: 1px solid #f2f4f6;
  &:last-child {
    border-right: none;
  }

  &--wide {
    width: 32.7rem;
  }

  @include media.breakpoint(tablet) {
    display: contents;
  }
}

.page-header__catalog-block {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #f2f4f6;

  @include media.breakpointMF(laptop) {
    &:last-child {
      padding-bottom: 0;
      border: none;
      margin-bottom: 0;
    }
  }

  @include media.breakpoint(tablet) {
    margin: 0;
    padding: 0;
    border: none;
    padding: 0 1.8rem;
    border-right: 1px solid #f2f4f6;
    grid-column: span 2;

    .page-header__catalog-col:last-child &:last-child {
      border-right: none;
    }

    .page-header__catalog-col--wide & {
      order: -20;
      grid-column: span 3;
    }
  }

  @include media.breakpoint(mobile) {
    border: none;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    // &:last-child {
    //   border: none;
    // }

    .page-header__catalog-col:last-child &:last-child {
      border-bottom: none;
    }
  }
}

.page-header__catalog-block-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin-top: 1rem;

  @media (hover: hover) and (pointer: fine) {
    &[href]:hover {
      color: var(--primary-color);
    }
  }

  &:first-child {
    margin-top: 0;
  }
  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &:only-of-type {
      padding: 2rem 0;
      &::after {
        content: "";
        flex-shrink: 0;
        width: 1.7rem;
        height: 1rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../images/arrow-down.svg");
        transition: transform 0.2s;
      }
    }

    .page-header__catalog-block.active & {
      &::after {
        transform: rotate(180deg);
      }
    }

    &[href]:not(:only-of-type) {
      margin-top: 2rem;
    }
  }

  &--red {
    color: var(--primary-color);
    &:link,
    &:visited {
      color: var(--primary-color);
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color-hover);
      }
    }
  }
}

.page-header__catalog-categories-dropdown {
  margin-top: 1rem;
  @include media.breakpoint(mobile) {
    margin: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s;

    .page-header__catalog-block.active & {
      grid-template-rows: 1fr;
    }
  }
}

.page-header__catalog-categories-dropdown-inner {
  @include media.breakpoint(mobile) {
    overflow: hidden;
  }
}

.page-header__catalog-categories-list {
  @include media.breakpointMF(small-tablet) {
    .page-header__catalog-col--wide & {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.page-header__catalog-categories-list-wrapper {
  @include media.breakpoint(mobile) {
    padding-bottom: 2rem;
  }
}

.page-header__catalog-categories-list-item {
  break-inside: avoid;
  margin-bottom: 1rem;

  @include media.breakpoint(mobile) {
    margin: 0;

    .page-header__catalog-categories-list-wrapper:not(.all-shown) & {
      &:not(:nth-child(-n + 9)) {
        display: none;
      }
    }
  }
}

.page-header__catalog-categories-link {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  transition: text-decoration-color 0.2s, color 0.2s;
  text-decoration-color: transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
      text-decoration-color: var(--primary-color);
    }
  }

  @include media.breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.page-header__back-btn {
  display: none;
  @include media.breakpoint(mobile) {
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 2rem;
    height: 3.5rem;
    display: block;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
}

.page-header__catalog-categories-show-more {
  display: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
  color: var(--primary-color);
  @include media.breakpoint(mobile) {
    display: block;
  }
  span {
    &:nth-child(2) {
      display: none;
    }
  }

  .all-shown & {
    span {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: inline;
      }
    }
  }
}

.page-header__mobile-location {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  display: none;
  @include media.breakpoint(tablet) {
    margin: 0;
  }

  @include media.breakpoint(mobile) {
    margin: 0;
    display: flex;
    margin-top: 3rem;
  }
}

.page-header__mobile-location-link {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  display: block;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #a9b0b9;
  }
}

.page-header__mobile-location-wrapper {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.page-header__mobile-location-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page-header__mobile-location-address {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.page-header__mobile-location-schedule {
  position: relative;
  align-self: flex-start;
  z-index: 50;
  &:hover {
    .page-header__mobile-location-schedule-dropdown {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.2s, visibility 0.2s;
    }
  }
}

.page-header__mobile-location-schedule-btn {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;

  text-underline-offset: 0.2rem;
  text-decoration-style: dotted;
}

.page-header__mobile-location-schedule-dropdown {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  z-index: 10;
}

.page-header__mobile-location-schedule-dropdown-inner {
  background-color: #fff;
  border: 1px solid #f2f4f6;
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  position: relative;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: max-content;
  --triangle-size: 1.2rem;
  &::before {
    content: "";
    width: var(--triangle-size, 1.2rem);
    height: var(--triangle-size, 1.2rem);
    background-color: #fff;
    border: 1px solid #f2f4f6;
    margin-top: calc(-1 * var(--triangle-size, 1.2rem) / 2);
    border-right: none;
    border-bottom: none;
    transform: rotate(0deg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg) rotate(180deg);
    top: 100%;
  }
}
