@use "media";
@use "utils";

.product-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .product-card__variants {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s, visibility 0.2s;
      }
    }
  }
}

.product-card__top {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 1.6rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .product-card__view-btn {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s, visibility 0.2s;
      }
    }
  }
  &::before {
    content: "";
    padding-bottom: 162.5%;
    display: block;
    grid-area: stack;
    z-index: -1;
  }

  @include media.breakpoint(tablet) {
    margin-bottom: 1.4rem;
  }

  @include media.breakpoint(mobile) {
    margin-bottom: 0.9rem;
  }
}

.product-card__wrapper {
  grid-area: stack;
  display: flex;
  flex-direction: column;
}

.product-card__slider {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
    // background: red;
    z-index: 1;
    pointer-events: none;
  }
  .swiper {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.product-card__image-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background-color: #f5f5f6;
}

.product-card__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.01);

  &--contain {
    object-fit: contain;
  }
}

.product-card__top-inner-content {
  grid-area: stack;
  pointer-events: none;
  display: grid;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 4.2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "tags like" "show show" "discount nothing";
  z-index: 2;

  @include media.breakpoint(mobile) {
    padding: 0.5rem;
    padding-bottom: 2.6rem;
    padding-top: 0;
  }
}

.product-card__tags {
  grid-area: tags;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: flex-start;
  justify-self: flex-start;

  @include media.breakpoint(mobile) {
    margin-top: -1px;
    margin-left: 0.4rem;
  }
}

.product-card__tag {
  --offset: 1rem;
  flex-shrink: 0;
  width: 3.8rem;
  height: 3.8rem;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--offset, 0)),
    50% 100%,
    0% calc(100% - var(--offset, 0))
  );
  background-color: var(--tag-color, #9acd3a);
  color: white;
  text-align: center;
  padding: 0.1rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.084rem;

  @include media.breakpoint(mobile) {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.06rem;
    --offset: 0.6rem;
  }
}

.product-card__like-btn {
  grid-area: like;
  justify-self: flex-end;
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.4rem;
  margin-right: 1.2rem;
  pointer-events: all;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke: white;
    fill: transparent;
    transition: stroke 0.2s, fill 0.2s;
  }

  &:hover {
    svg {
      stroke: white;
      fill: white;
    }
  }

  &.active {
    svg {
      stroke: var(--primary-color);
      fill: var(--primary-color);
    }
  }

  @include media.breakpoint(mobile) {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1rem;
    margin-right: 1rem;

    svg {
      stroke-width: 2px;
    }
  }
}

.product-card__discount {
  align-self: flex-end;
  justify-self: flex-start;
  width: 4.8rem;
  height: 4.8rem;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  pointer-events: all;
  grid-area: discount;
  @include media.breakpoint(mobile) {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.product-card__slider-pagination.product-card__slider-pagination.product-card__slider-pagination.product-card__slider-pagination {
  position: absolute;
  left: 2.3rem;
  right: 2.3rem;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  z-index: 10;
  pointer-events: all;
  width: auto;
  @include media.breakpoint(tablet) {
    left: 2.7rem;
    right: 2.7rem;
  }
  @include media.breakpoint(mobile) {
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
  }

  .swiper-pagination-bullet {
    width: 5rem;
    height: 0.2rem;
    flex-grow: 1;
    background-color: white;
    opacity: 0.5;
    border-radius: 0;
    transition: opacity 0.2s ease;
    margin: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      bottom: -1rem;
      left: 0;
      right: 0;
      pointer-events: all;
    }
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.product-card__title {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.4rem;
  text-decoration: underline;
  text-underline-offset: 1px;
  transition: color 0.2s, text-decoration-color 0.2s;
  text-decoration-color: transparent;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
      text-decoration-color: var(--primary-color);
    }
  }

  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.3rem;
  }
}

.product-card__row {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  @include media.breakpoint(mobile) {
    gap: 1rem;
  }
}

.product-card__left {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  @include media.breakpoint(mobile) {
    padding-top: 0.6rem;
  }
}

.product-card__add-to-cart {
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #f2f4f6;
  transition: background-color 0.2s;
  margin-left: auto;
  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #a9b0b9;
    transition: fill 0.2s;
  }

  &.active {
    background-color: var(--primary-color);
    svg {
      fill: white;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-color);
      svg {
        fill: white;
      }
    }
  }

  @include media.breakpoint(tablet) {
    width: 4rem;
    height: 4rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.product-card__price-wrapper {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  flex-wrap: wrap;
  @include media.breakpoint(tablet) {
    gap: 0.8rem;
  }
  @include media.breakpoint(mobile) {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0.3rem;
  }
}

.product-card__price {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
  @include media.breakpoint(tablet) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.product-card__old-price {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
  color: #a9b0b9;
  white-space: nowrap;
  @include media.breakpoint(tablet) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.product-card__view-btn {
  grid-area: show;
  align-self: center;
  justify-self: center;
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 0.6rem;
  background: rgba(255, 255, 255, 0.9);
  color: var(--text-color);
  pointer-events: all;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @include media.breakpoint(tablet) {
    display: none;
  }
}

.product-card__variants {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  @include media.breakpoint(tablet) {
    display: none;
  }
}

.product-card__variant {
  display: flex;
  align-items: center;
}

.product-card__variant-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #a9b0b9;
  width: 10rem;
  flex-shrink: 0;
}

.product-card__variant-colors {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.product-card__variant-color {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--variant-color, var(--primary-color));
}

.product-card__variant-sizes {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.product-card__variant-size {
  display: grid;
  place-items: center;
  text-align: center;
  min-width: 3.2rem;
  height: 2.8rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 0.6rem;
  border: 1px solid #a9b0b9;
}
