@use "media";
@use "utils";

.products-slider {
  @include utils.blockWrapper;
  margin-bottom: 10rem;

  @include media.breakpoint(tablet) {
    margin-bottom: 4rem;
  }

  @include media.breakpoint(mobile) {
    margin-top: 3.8rem;
  }
}
.products-slider__content {
  @include utils.blockContent;
}

.products-slider__row {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 5.8rem;
  @include media.breakpoint(tablet) {
    margin-bottom: 2rem;
  }
  @include media.breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    gap: 2.4rem;
    margin-bottom: 3rem;
  }
}

.products-slider__heading {
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  text-transform: uppercase;
  @include media.breakpoint(tablet) {
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
  }
  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    text-transform: uppercase;
  }
}

.products-slider__more {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-left: auto;
  padding: 1.85rem 2.8rem;
  color: var(--text-color);
  border-radius: 0.6rem;
  border: 0.2rem solid #f2f4f6;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: var(--primary-color);
    }
  }
  @include media.breakpoint(tablet) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding: 1.8rem 2.8rem;
  }

  @include media.breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding: 1.5rem 2.8rem;
    margin: 0;
  }
}

.products-slider__wrapper {
  & > .swiper {
    & > .swiper-wrapper {
      & > .swiper-slide {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        width: 20%;
      }
    }
  }
}

.products-slider__pagination {
  margin-top: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  max-width: 100%;
  @include media.breakpoint(tablet) {
    margin-top: 4rem;
  }
  @include media.breakpoint(mobile) {
    margin-top: 2rem;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet {
    margin: 0;
    width: 12rem;
    height: 0.3rem;
    background-color: rgba(#a9b0b9, 0.4);
    border-radius: 0;
    opacity: 1;
    margin: 0;
    transition: background-color 0.2s;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: 0;
      right: 0;
      pointer-events: all;
    }

    &.swiper-pagination-bullet-active {
      background-color: #a9b0b9;
      cursor: default;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(.swiper-pagination-bullet-active):hover {
        background-color: var(--primary-color);
      }
    }
  }
}
